extends ../partials/layout

block content
    main(class="w-full px-16 text-center flex flex-col items-center")
        h1(class="font-extrabold text-3xl pt-8 pb-4") Express base template
        p(class="max-w-lg") ...using Tailwind, and Typescript, and a bunch of 
            | libraries really useful for web apps (authentication, form validation mainly) 
            | with a MVC code structure in mind.
        h2(class="font-bold text-xl pt-4 pb-4 text-gray-700") Here is a very unuseful image
        img(
            src="/assets/foot.jpg" 
            alt="a delicious image of a basket looking at a beach"
            class="h-60 w-60 lg:h-72 lg:w-72 rounded-full object-cover")