@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply 
            rounded-md
            bg-purple 
            text-white 
            flex-grow 
            w-full 
            text-[1rem] 
            font-semibold 
            p-2 
            hover:bg-purple-dark 
            transition;
    }

    .input-primary {
        @apply
            border 
            border-solid 
            border-gray-300 
            rounded-md 
            px-2 py-1 
            focus:outline 
            focus:outline-purple 
            focus:outline-2 
            focus:outline-offset-[-1px];
    }
}

/* DESIGN */

/* -> FONTS */

:root {
    /* -> COLORS */

    /* -> SIZES */
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MODULES/REUSABLES */

/* MISC */

button[type=submit].file-submit {
    width: 400px;
}